---
layout: default
title: Buckeye Molded Products
---

<section class="brushes-contacts">

  <div class="container">
    <h2 class="page-header">Carbon Brushes</h2>
    
    {% include Phenolic-Bonded-Carbon-Brushes.html %}

    {% include Epoxy-Bonded-Carbon-Brushes.html %}
    
    <h2 class="page-header">Metal Brushes</h2>

    {% include Copper-Graphite-Brushes.html %}

    {% include Silver-Graphite-Brushes.html %}

    <h2 class="page-header">Specialty Brushes</h2>
    
    {% include Bi-molded-Specialty-Brushes.html %}

    {% include Custom-Assembled-Brushes.html %}

  </div><!--/container-->
</section>
