---
layout: default
title: Buckeye Molded Products
---

<section class="brushes-contacts">

  <div class="container">
    <div class="product-highlight">
      <h2>Carbon Brushes</h2>
    </div>
    
    {% include Phenolic-Bonded-Carbon-Brushes.html %}

    {% include Epoxy-Bonded-Carbon-Brushes.html %}
    
    <div class="product-highlight">
      <h2>Metal Brushes</h2>
    </div>

    {% include Copper-Graphite-Brushes.html %}

    {% include Silver-Graphite-Brushes.html %}

    <div class="product-highlight">
      <h2>Specialty Brushes</h2>
    </div>
    
    {% include Bi-molded-Specialty-Brushes.html %}

    {% include Custom-Assembled-Brushes.html %}

  </div><!--/container-->
</section>
