<div class="contact-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="contact-bar-content pull-right">
          <a href="tel:4403232244"><i class="fa fa-phone"></i> 440-323-2244</a>
            |
          <a href="mailto:info@buckeyemoldedproducts.com"><i class="fa fa-envelope"></i></a>
            <span class="hidden-xs">|</span>
          <a href="http://ohiocarbon.com/" class="hidden-xs">Ohio Carbon Industries</a>
            <span class="hidden-xs">|</span>
          <a href="http://americarb.com" class="hidden-xs">Americarb</a>
        </p>
      </div>
    </div>
  </div>
</div>