<section class="product">
    <div class="row">
      <div class="col-sm-6">
        <img src="images/product2.jpg" alt="Copper-Graphite Brushes" >
      </div>
      <div class="col-sm-6">
      <h3>Copper-Graphite Brushes</h3>
        <p>Metal-graphite grades contain 75% or less metal, usually copper, which is mixed with graphite. They are manufactured similarly to graphite brushes with metal powders added to the graphite and binder. Metal-graphite brushes are used primarily on slip-rings and low-voltage generators and motors.</p>
        <br>
        <h4>Benefits</h4>
        <hr>
        <ul>
          <li><i class="fa fa-dot-circle-o"></i> Low Contact Drop</li>
          <li><i class="fa fa-dot-circle-o"></i> Low Voltage Applications</li>
          <li><i class="fa fa-dot-circle-o"></i> Motor and Slip-Ring Applications</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <br>
        <div class="table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
            <td><b>Grade</b></td>
            <td><b>Specific Resistance </b><br>Ohm-inch</td>
            <td><b>Density</b> <br>g/tm2</td>
            <td><b>Current Density </b><br>A/In2</td>
            <td><b>Typical Voltage</b></td>
            <td><b>Contact Drop</b></td>
            <td><b>Hardness Shore</b></td>
            <td><b>Speed</b><br>Ft./M in.</td>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td><b>C35001A</b></td>
            <td>
            <p><b>0.0002</b></p></td>
            <td>
            <p><b>2.48</b></p></td>
            <td><b>125</b></td>
            <td><b>&lt;36</b></td>
            <td><b>L</b></td>
            <td><b>23</b></td>
            <td><b>6500</b></td></tr>
            <tr>
            <td><b>C53001A</b></td>
            <td>
            <p><b>0.00005</b></p></td>
            <td>
            <p><b>2.93</b></p></td>
            <td><b>100</b></td>
            <td><b>&lt;36</b></td>
            <td><b>L</b></td>
            <td><b>30</b></td>
            <td><b>6000</b></td></tr>
            <tr>
            <td><b>C65001A</b></td>
            <td>
            <p><b>0.000027</b></p></td>
            <td>
            <p><b>3.6</b></p></td>
            <td><b>150</b></td>
            <td><b>&lt;18</b></td>
            <td><b>L</b></td>
            <td><b>25</b></td>
            <td><b>6500</b></td></tr>
            <tr>
            <td><b>C90078A</b></td>
            <td>
            <p><b>0.00008</b></p></td>
            <td>
            <p><b>5.1</b></p></td>
            <td><b>150</b></td>
            <td><b>&lt;9</b></td>
            <td><b>L</b></td>
            <td><b>20</b></td>
            <td><b>5000</b></td>
            </tr>
          </tbody>
        </table>
        </div>
        <p class="muted"><small>&#42; Small sample of grades produced, materials are designed and modified to match applications.</small></p>
      </div>
    </div>
</section>