<section class="product">
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <div class="product-hightlight-image">
        <div class="circle-text">
          <div class="custom"><img src="images/custom-assembled.jpg" alt="Custom Assembled Brushes" ></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      <h3>Custom Assembled Brushes</h3>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      <br>
      <h4>Benefits</h4>
      <hr>
      <ul>
        <li><i class="fa fa-dot-circle-o"></i> Spring and Cap Assemblies</li>
        <li><i class="fa fa-dot-circle-o"></i> Conductive Spring Assemblies</li>
      </ul>
    </div>
  </div>
</section>