<section class="product">
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <div class="product-hightlight-image">
        <div class="circle-text">
          <div class="expoxy"><img src="images/expoxy-bonded-carbon.jpg" alt="Phenolic-Bonded Carbon and Carbon/Graphite Brushes" ></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      <h3>Epoxy-Bonded Carbon Brushes</h3>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      <br>
      <h4>Benefits</h4>
      <hr>
      <ul>
        <li><i class="fa fa-dot-circle-o"></i> Extremely low density</li>
        <li><i class="fa fa-dot-circle-o"></i> Use in higher voltage / higher speed motors</li>
        <li><i class="fa fa-dot-circle-o"></i> Materials can be tailored to provide excellent commutation and life in various applications</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <br>
      <div class="table table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
          <th>Grade</th>
          <th>Specific Resistance <br>Ohm-inch</th>
          <th>Density <br>g/tm2</th>
          <th>Current Density <br>A/In2</th>
          <th>Typical Voltage</th>
          <th>Contact Drop</th>
          <th>Hardness Shore</th>
          <th>Speed<br>Ft./M in.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <td>E001A</td>
          <td>
          <p>0.035</p></td>
          <td>
          <p>1.87</p></td>
          <td>50</td>
          <td>&gt;100</td>
          <td>H</td>
          <td>28</td>
          <td>8000</td></tr>
          <tr>
          <td>E002A</td>
          <td>
          <p>0.018</p></td>
          <td>
          <p>1.62</p></td>
          <td>60</td>
          <td>&gt;100</td>
          <td>H</td>
          <td>27</td>
          <td>8000</td></tr>
        </tbody>
      </table>
      </div>
      <p class="muted"><small>&#42; Small sample of grades produced, materials are designed and modified to match applications.</small></p>
    </div>
  </div>
</section>