<section class="product">
  <div class="row">
    <div class="col-sm-6">
      <img src="images/product2.jpg" alt="Phenolic-Bonded Carbon and Carbon/Graphite Brushes" >
    </div>
    <div class="col-sm-6">
      <h3>Phenolic-Bonded Carbon Brushes</h3>
      <p>Carbon-graphite materials contain various proportions of carbon and graphite mixed with a binder, usually coal tar pitch, molded under pressure and baked or sintered. Graphite-carbon is a variant of this, used when graphite predominates the consumption. These materials are relatively strong and are higher in friction and abrasiveness then electro-graphite materials.</p>
      <br>
      <h4>Benefits</h4>
      <hr>
      <ul>
        <li><i class="fa fa-dot-circle-o"></i> Use in higher voltage motors</li>
        <li><i class="fa fa-dot-circle-o"></i> Lower cost to performance ratio</li>
        <li><i class="fa fa-dot-circle-o"></i> Materials can be tailored to provide excellent commutation and life in various applications</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <br>
      <div class="table table-responsive">
      <table class="table table-striped ">
        <thead>
          <tr>
            <th><p>Grade</p></th>
            <th>Specific Resistance <br>Ohm-inch</th>
            <th><p>Density<br>g/tm2</p></th>
            <th>Current Density<br>A/In2</th>
            <th>Typical Voltage</th>
            <th>Contact Drop</th>
            <th>Hardness Shore</th>
            <th>Speed<br>Ft./M in.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>P125A</td>
            <td>
            <p>0.01</p></td>
            <td>
            <p>1.8</p></td>
            <td>60</td>
            <td>&gt;100</td>
            <td>H</td>
            <td>40</td>
            <td>7000</td></tr>
            <tr>
            <td>P126A</td>
            <td>
            <p>0.02</p></td>
            <td>
            <p>1.8</p></td>
            <td>60</td>
            <td>&gt;100</td>
            <td>M</td>
            <td>35</td>
            <td>7000</td></tr>
            <tr>
            <td>P127A</td>
            <td>
            <p>0.003</p></td>
            <td>
            <p>1.85</p></td>
            <td>60</td>
            <td>&gt;90</td>
            <td>M</td>
            <td>25</td>
            <td>7500</td></tr>
            <tr>
            <td>P128A</td>
            <td>
            <p>0.004</p></td>
            <td>
            <p>1.66</p></td>
            <td>60</td>
            <td>&gt;100</td>
            <td>ML</td>
            <td>35</td>
            <td>7000</td></tr>
            <tr>
            <td>P130A</td>
            <td>
            <p>0.02</p></td>
            <td>
            <p>1.93</p></td>
            <td>60</td>
            <td>&gt;100</td>
            <td>M</td>
            <td>30</td>
            <td>7000</td></tr>
            <tr>
            <td>P131A</td>
            <td>
            <p>0.003</p></td>
            <td>
            <p>2.0</p></td>
            <td>100</td>
            <td>&gt;18</td>
            <td>L</td>
            <td>25</td>
            <td>8000</td></tr>
            <tr>
            <td>P132A</td>
            <td>
            <p>0.005</p></td>
            <td>
            <p>1.71</p></td>
            <td>60</td>
            <td>&gt;100</td>
            <td>M</td>
            <td>30</td>
            <td>7000</td></tr>
            <tr>
            <td>P133A</td>
            <td>
            <p>0.002</p></td>
            <td>
            <p>2.2</p></td>
            <td>60</td>
            <td>&gt;100</td>
            <td>M</td>
            <td>25</td>
            <td>7000</td>
          </tr>
        </tbody>
      </table>
      </div>
      <p class="muted"><small>&#42; Small sample of grades produced, materials are designed and modified to match applications.</small></p>
    </div>
  </div>
</section>